 <footer class="footer">
    <div class="container">

        <div class="profiles">
            <ul  class="list-inline">
                <li><a href="https://github.com/pnavarrc">
                    <i class="fa fa-github fa-large"></i> GitHub
                </a></li>
                <li><a href="https://twitter.com/pnavarrc">
                    <i class="fa fa-twitter fa-large"></i> Twitter
                </a></li>
                <li><a href="http://stackoverflow.com/users/536801/pablo-navarro">
                    <i class="fa fa-stack-overflow fa-large"></i> Stack Overflow
                </a></li>
            </ul>
        </div>

        <div class="copyright">
            <i class="fa fa-copyright"></i> 2014, Pablo Navarro Castillo
        </div>


    </div>
</footer>

<script src="{{ "/assets/js/dependencies.js" | prepend: site.baseurl }}"></script>