 <footer class="footer">
    <div class="container">
        2014, Pablo Navarro Castillo</br>

        <ul  class="list-inline">
            <li><a href="https://github.com/pnavarrc"><i class="fa fa-github fa-large"></i> GitHub</a></li>
            <li><a href="https://twitter.com/pnavarrc"><i class="fa fa-twitter fa-large"></i> Twitter</a></li>
            <li><a href="http://stackoverflow.com/users/536801/pablo-navarro"><i class="fa fa-stack-overflow fa-large"></i> Stack Overflow</a></li>
        </ul>

    </div>
</footer>

<script src="{{ "/assets/js/dependencies.js" | prepend: site.baseurl }}"></script>